<div class="container-footer">
    <div class="footer-row">
        <div class="footer-col">
            <h4>Freelancing</h4>
            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contests</a></li>
                <li><a href="#">Freelancers</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Preffered Freelancer</a></li>
                <li><a href="#">Program</a></li>
                <li><a href="#">Project Management</a></li>
                <li><a href="#">Local Jobs</a></li>
                <li><a href="#">Photo Anywhere</a></li>
                <li><a href="#">Showcase</a></li>
                <li><a href="#">API for Developers</a></li>
                <li><a href="#">Get Verified</a></li>

            </ul>
        </div>
        <div class="footer-col">
            <h4>About</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Investor</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Terms</h4>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Copyright Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Fees and Charges</a></li>

            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
        
    </div>
</div>