*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-image: url(img/background.jpg); 
    background-size: cover;
    font-family: 'Montserrat' sans-serif;
}

@media screen and (min-width: 576px) {
    .wrapper {
        width: 70%;
    }
    
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 55%;
    }
    
}

@media only screen and (max-width:992px){
	.header-inner{background-color: white!important;
	}
	.nav-item > .nav-link{
		color: black!important
	}
	.logo{color: #000 !important;
		font-weight: 600!important;
	}
	.content-banner .first-title{
		font-size: 30px !important;
	}
}

@media only screen and (min-width:1200px){
	.nav-item > .nav-link{padding: 5px 20px !important;
		display: block !important;
	}
}

.btn-primary-outline {
	background-color: transparent;
	border-color: #ccc;
  }

.btn-pink{
	color: white;
	background-color: #fe4066;
}

.btn-primary-outline:hover {text-decoration: none;
	color:#fe4066;
	background-color:white; 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat' sans-serif;
}

::selection{
	color: #fff;
	background: #fe4066;
}
nav.wrapper{
	width: 400px;
	background: #fff;
	border-radius: 10px;
	padding: 20px 25px 40px;
}
  
header h2{
	font-size: 24px;
	font-weight: 600;
}
  
header p{
	margin-top: 5px;
	font-size: 16px;
}
  
.price-input{
	width: 100%;
	display: flex;
	margin: 10px 0 35px;
}
  
.price-input .field{
	display: flex;
	width: 100%;
	height: 45px;
	align-items: center;
}
  
.field input{
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 19px;
	margin-left: 12px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #999;
	-moz-appearance: textfield;
}
  
input[type="number"]::-webkit-outer-spin-button,
  
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
  
.price-input .separator{
	width: 130px;
	display: flex;
	font-size: 19px;
	align-items: center;
	justify-content: center;
}
  
.slider{
	height: 5px;
	position: relative;
	background: #ddd;
	border-radius: 5px;
}
  
.slider .progress{
	height: 5px;
	left: 25%;
	right: 25%;
	position: absolute;
	border-radius: 5px;
	background: #fe4066;
}
  
.range-input{
	position: relative;
}
  
.range-input input{
	position: absolute;
	width: 100%;
	height: 5px;
	top: -5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
  
input[type="range"]::-webkit-slider-thumb{
	height: 17px;
	width: 17px;
	border-radius: 50%;
	background: #fe4066;
	pointer-events: auto;
	-webkit-appearance: none;
	box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
  
input[type="range"]::-moz-range-thumb{
	height: 17px;
	width: 17px;
	border: none;
	border-radius: 50%;
	background: #fe4066;
	pointer-events: auto;
	-moz-appearance: none;
	box-shadow: 0 0 6px rgba(0,0,0,0.05);
}




div.wrapper {
    background: #fff;
    width: 90%;
    padding: 2rem;
    box-shadow: 0 0px 2.2px rgb(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05);
}

h2 {
    background: #FE4066;
    color: white;
    letter-spacing: 0.1rem;
    padding: 1rem;
    cursor: default;
}

form,
input,
textarea,
button {
    font-family: inherit;
    font-size: initial;
}

.form-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;

}
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 1rem 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}

.form-group input[type="text"] {
    height: 4.6rem;
}

.form-group textarea {
    resize: vertical;
}

.submit {
    background: #FE4066;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
}

.submit:hover {
    background: rgba(173, 216, 230, 1);
    color: black;
}

.form-group input[type="type"]:focus,
.form-group textarea:focus {
    border: 1px solid #FE4066;
}




.container-footer{
	max-width: 1170px;
	margin: auto;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
	padding: 70px 0;
	font-family: 'Poppins', sans-serif;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 	30px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: white;
}

.checked{
    color: orange;
}