<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fab.css">
    <title>Logo Design</title>
</head>
<body>
    <div class="main-image">
        <div class="container">
            <h1><span>Frontend and Backend</span></h1>
            <span class="cen">Front end development is programming which focuses on the visual elements of a website or app that a user will interact with (the client side). Meanwhile, back end development focuses on the side of a website users can’t see (the server side). They work together to create a dynamic website to allow users to make purchases, use contact forms, and any other interactive activities you might participate in while browsing a site.</span>
            <a class="button" href="findjobs.html">Find Jobs</a>
            <a class="button" href="findfreelancers.html">Hire Freelance</a>
        </div>
        
    </div>
    
</body>
</html>