<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="illustrator.css">
    <title>Illustrator</title>
</head>
<body>
    <div class="main-image">
        <div class="container">
            <h1><span>Illustrator</span></h1>
            <span class="cen">An illustrator is an artist who has a special profession in the field of fine arts,
                 namely generally as a creator or provider of illustrative images 
                 in order to clarify the purpose of a particular article or to make it look attractive.</span>
            <a class="button" href="findjobs.html">Find Jobs</a>
            <a class="button" href="findfreelancers.html">Hire Freelance</a>
        </div>
        
    </div>
    
</body>
</html>
