<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mobiledesign.css">
    <title>Mobile Design</title>
</head>
<body>
    <div class="main-image">
        <div class="container">
            <h1><span>Mobile Design</span></h1>
            <span class="cen">websites have been optimized for desktop users, 
            but as browsing habits have evolved, designers tend to follow a mobile-first approach in design.</span>
            <a class="button" href="findjobs.html">Find Jobs</a>
            <a class="button" href="findfreelancers.html">Hire Freelance</a>
        </div>
        
    </div>
    
</body>
</html>