<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="webdesign.css">
    <title>Web Design</title>
</head>
<body>
    <div class="main-image">
        <div class="container">
            <h1><span>Web Design</span></h1>
            <span class="cen">Web design refers to the design of websites that are displayed on the internet.
                It usually refers to the user experience aspects of website development rather than software development.</span>
            <a class="button" href="findjobs.html">Find Jobs</a>
            <a class="button" href="findfreelancers.html">Hire Freelance</a>
        </div>
        
    </div>
    
</body>
</html>