<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="wordpress.css">
    <title>Wordpress</title>
</head>
<body>
    <div class="main-image">
        <div class="container">
            <h1><span>Wordpress</span></h1>
            <span class="cen">WordPress is a content management system (CMS) that can be used to create and manage a website or blog.
                 WordPress system running using PHP and MySQL or MariaDB database</span>
            <a class="button" href="findjobs.html">Find Jobs</a>
            <a class="button" href="findfreelancers.html">Hire Freelance</a>
        </div>
        
    </div>
    
</body>
</html>
