<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="templateapply.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js" integrity="sha512-j+F4W//4Pu39at5I8HC8q2l1BNz4OF3ju39HyWeqKQagW6ww3ZF9gFcu8rzUbyTDY7gEo/vqqzGte0UPpo65QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title>Template Apply</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><span class="logo" style="color: black;">Freelancing</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="findjobs.html">Find Jobs<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="index.html">How It Works</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br>

        <div class="wrapper" style="margin: 70px;">
            <h2>Jobs</h2>

            <form action="" method="post">
                <div class="form-group">
                    <p>Description for jobs</p>
                    <h4>Requirements:</h4>
                    <p>Requirements details</p>
                </div>
                <h3>Name</h3>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First and last name</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control">
                    <input type="text" aria-label="Last name" class="form-control">
                </div>
                <h3>Email</h3>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>
                </div>
                <div class="star">
                    <h4>About Client:</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <div class="form-group">
                </div>
                    <button type="submit" class="submit">Apply</button>
                    <p style="color: rgb(93, 93, 93);">#project id</p>
                </div>
            </form>

        </div>

        <br>

        <footer class="footer">
            <div class="container-footer">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>Freelancing</h4>
                        <ul>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contests</a></li>
                            <li><a href="#">Freelancers</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Preffered Freelancer</a></li>
                            <li><a href="#">Program</a></li>
                            <li><a href="#">Project Management</a></li>
                            <li><a href="#">Local Jobs</a></li>
                            <li><a href="#">Photo Anywhere</a></li>
                            <li><a href="#">Showcase</a></li>
                            <li><a href="#">API for Developers</a></li>
                            <li><a href="#">Get Verified</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>About</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Stories</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Terms</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Copyright Policy</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                            <li><a href="#">Fees and Charges</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href=""><i class="fab fa-facebook-f" style="margin-top: 12px;"></i></a>
                            <a href=""><i class="fab fa-twitter" style="margin-top: 12px;"></i></a>
                            <a href=""><i class="fab fa-instagram" style="margin-top: 12px;"></i></a>
                            <a href=""><i class="fab fa-tiktok" style="margin-top: 12px;"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
        <script src="jobscript.js"></script>

    </body>
</html>